.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wrapper{
  background-color: black;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
  .input-wrapper{
  display: flex;
  justify-content: space-around;
  width: 200px;
  align-items: center;
}
.input-wrapper input{
  border-radius: 4%;
  border: 0;
  background-color:gold;
  width: 160px;
  padding: 6px;
  height: 20px;
  margin: 10px;

}
.input-wrapper button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}

